@font-face {
    font-family: "Lato-Black";
    src: url("assets/Lato-Black.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato-Bold";
    src: url("assets/Lato-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato-Light";
    src: url("assets/Lato-Light.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato-Regular";
    src: url("assets/Lato-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    box-sizing: border-box; /*чтобы паддинг не растягивал паддингом*/
}

header {
    background-color: #2d303a;
    color: #ffffff;
    border-bottom: 6px solid #323746;
    height: 89px;
    position: sticky;
    top: 0;
    width: 100%;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

.logo a {
    font-family: "Lato-Bold";
    font-size: 25px;
}

.logo {
    padding: 29px 0 41px 40px;
}

.logo span {
    color: #f06c64;
}


header a {
    text-decoration: none;
    color: #ffffff;
}

.navbar li:not(.active) a:hover {
    color: #f06c64;
}

.navbar {
    font-family: "Lato-Bold";
    font-size: 12px;
    padding-right: 26px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;

}

.navbar ul li {
    padding: 0 13px;
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 20px;
}

.navbar ul li.active {
    background-color: #4b4e58;
    
}


.navbar ul li+li::before {
    content: ".";
    color: #494e62;
    position: relative;
    left: -15px;
    bottom: 3px;
}

.slider {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding-top: 53px;
    padding-bottom: 58px;
}

.slider .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.slider .left {
    padding-left: 42px;
}

.slider .vert {
    padding-right: 16px;
}

.slider .right {
    padding-right: 40px;
}

.slider a:hover{
    -webkit-filter: drop-shadow(0 0 3px rgba(100, 0, 0, 0.5));
    filter: drop-shadow(0 0 3px rgba(100, 0, 0, 0.5));
}

.services {
    color: #666d89;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services .wrapper {
    padding: 0 40px 59px 40px;
}

.services h1 {
    padding-top: 60px;
    font-family: "Lato-Black";
    font-size: 30px;
    margin: 0;
}

.services .description p {
    font-family: "Lato-Light";
    font-size: 18px;
    letter-spacing: -0.25px;
    line-height: 28px;
}

.services p {
    font-family: "Lato-Light";
    font-size: 18px;
    letter-spacing: -0.25px;
    line-height: 28px;
}

.description span {
    letter-spacing: -0.4px;
}

.service-set {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.service-item {
    flex-basis: 31.914%;
    padding: 27px 0 0 0;

}

.service-item img {
    float: left;
    padding: 0 20.5px 20px 0;
    margin-top: 4px;
}

.service-item h2 {
    font-size: 18px;
    font-family: "Lato-Black";
    margin: 0;
}

.service-item p {
    font-size: 12px;
    font-family: "Lato-Regular";
    line-height: 20px;
    margin-bottom: 3px;
    letter-spacing: 0.2px;
    overflow: hidden;
    text-align: justify;
}

.support h2 span{
    word-spacing: -3px;
}

.portfolio {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    color: #666d89;
}

.portfolio .wrapper, .about .wrapper {
    padding: 60px 40px 0px 40px;
}

.portfolio h2, .about h2, .contact h2 {
    font-family: "Lato-Black";
    font-size: 30px;
    margin: 0;
    padding-bottom: 5px;
}

.portfolio p, .about p, .contact p {
    font-family: "Lato-Light";
    font-size: 18px;
    letter-spacing: -0.2px;
    margin-bottom: 14px;
}

.contact h2 {
    margin-top: -8px;
    margin-bottom: 14px;
}

.contact p {
    line-height: 30px;
    margin: 0;
    margin-bottom: 43px;
}

.portfolio ul {
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
}

.portfolio li {
    list-style-type: none;
    border: 1px solid  #666d89;
    border-radius: 10%;
    padding: 0 7px 2px 6px;
    margin-right: 10px;
}

.portfolio a {
    text-decoration: none;
    color: #666d89;
    font-family: "Lato-Regular";
    font-size: 12px;
}

.portfolio li:hover, .portfolio li:hover a {
    border-color: #dedede;
    color: #dedede;
}


.portfolio-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;
    margin-top: -2px;
    margin-bottom: 67px;
    max-height: 620px;
}

.portfolio-images .blocks {
    width: 220px;
    height: 187px;
    margin-top: 20px;
    
    
}

.portfolio-images .block1 {
    background: url(assets/pic1.png) no-repeat 45% 20%;
}

.portfolio-images .block2 {
    background: url(assets/pic2.png) no-repeat 58% 50%;
}

.portfolio-images .block3 {
    background: url(assets/pic3.png) no-repeat 42.5% 0%;
}

.portfolio-images .block4 {
    background: url(assets/pic4.png) no-repeat 60% 40%;
}

.portfolio-images .block5 {
    background: url(assets/pic5.png) no-repeat 50% 20%;
}

.portfolio-images .block6 {
    background: url(assets/pic6.png) no-repeat 45% 50%;
}

.portfolio-images .block7 {
    background: url(assets/pic7.png) no-repeat 20% 21%;
}

.portfolio-images .block8 {
    background: url(assets/pic8.png) no-repeat 40% 35%;
}

.portfolio-images .block9 {
    background: url(assets/pic9.png) no-repeat 50% 50%;
}

.portfolio-images .block10 {
    background: url(assets/pic10.png) no-repeat 55% 24%;
}

.portfolio-images .block11 {
    background: url(assets/pic11.png) no-repeat 74% 79%;
}

.portfolio-images .block12 {
    background: url(assets/pic12.png) no-repeat 50% 25%;
}

.about {
    color: #666d89;
    background-color: #f2f2f2;
    padding-bottom: 43px;
    border-bottom: 6px solid #ffffff;
}

.about h2 {
    padding-bottom: 0;
}

.about p {
    line-height: 30px;
    letter-spacing: -0.2px;
}

.about .team {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.about .member {
    flex-basis: 31.94%;
}

.member .member-name {
    font-family: "Lato-Black";
    font-size: 18px;
    margin: 5px 0;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}

.member .member-description {
    margin: 0;
    padding: 0;
    font-family: "Lato-Regular";
    font-size: 12px;
    line-height: 20px;
    padding-top: 0;
}

.social-media {
    display: flex;
    justify-content: flex-start;
    margin: 25px 0;
    padding: 0;
}

.social-media li {
    list-style-type: none;
    width: 30px;
    line-height: 30px;
    border: 1px solid  #666d89;
    border-radius: 50%;
    margin-right: 9px;
    text-align: center;
    align-items: center;
}

.social-media li:hover {
    cursor: pointer;
}

.contact {
    color: #f0d8d9;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;

}

.contact .wrapper {
    padding: 67px 40px 0px 40px;

}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

input, textarea {
    height: 37px;
    width: 605px;
    background-color: #d6564f;
    border: 0;
    margin-bottom: 15px;
    padding-left: 15px;
    border-radius: 2%;
    font-family: "Lato-Regular";
    font-size: 12px;
}

::placeholder{
    color: #ec7f80;
}

textarea {
    height: 188px;
    width: 603px;
    padding-top: 13px;
}

.button {
    width: 100px;
    color: #2d303a;
    padding: 0;
    margin-bottom: 5px;
    border-radius: 10%;
    float: right;
    
}

form {
    margin-right: 20px;
}

.contact-info h3 {
    font-family: "Lato-Black";
    font-size: 18px;
    margin: 0;
}

.contact-info p, .contact-info a {
    font-family: "Lato-Regular";
    font-size: 12px;
    line-height: 22px;
    padding-top: 5px;
    text-align: justify;
    margin-bottom: 20px;
}

.info span span, .info a {
    font-size: 12px;
    line-height: 21px;
    color: #f0d8d9;
    font-family: "Lato-Regular";
    text-decoration: none;
}

.info {
    display: contents;
}

.cont {
    margin: 0 12px;
}

.cont-img1 {
    margin-left: 4px;
    margin-top: 6px;
}

.cont-img2 {
    margin: 0 0 0 2px;
}

.cont-img3 {
    margin: 0px -1px -1px 1px;
}

.contdiff {
    margin: 0 13px;
}


footer {
    height: 76px;
    color: #666d89;
    background-color: #2d303a;
    
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

footer p {
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato-Regular";
    margin: 35px 0 30px 40px;
}

footer .social-media {
    margin: 22px 32px;
}

footer .social-media li {
    margin-right: 8px;
}

section {
    scroll-margin-top: 95px;
}

#message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0008;
}

#message-block.hidden {
    display: none;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    text-align: center;
    padding: 40px;
    background-color: blanchedalmond;
    color: black;
}









